.styleBtns {
  display: flex;
  width: 200px !important;
  height: 80px !important;
  margin: unset !important;

  min-width: 200px !important;
  max-width: 200px !important;
  min-height: 80px !important;
  max-height: 80px !important;
}
/* .styleBtns {
  width: 200px !important;
  height: 80px !important;
  margin: unset !important;
  min-height: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  min-width: unset !important;
} */

.styleLoginFake {
  display: flex;
  width: 200px !important;
  height: 80px !important;
  margin: unset !important;
  min-height: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  min-width: unset !important;
}

.styleIphone {
  display: flex;
  width: 450px !important;
  height: 618px !important;
  margin: unset !important;

  min-width: 450px !important;
  max-width: 450px !important;
  min-height: 618px !important;
  max-height: 618px !important;
}

.instaFont {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  color: black;
}

.flex {
  display: flex;
}

.column {
  margin: 0 auto;
  float: left;
  width: 450px;
  padding: 10px;
  margin: auto;
}

.smallColumn {
  margin: 0 auto;
  float: left;
  width: 190px;
  padding: 8px;
  margin: auto;
}

.row {
  margin: auto;
}


.centered {
  margin: auto;
}
