.styleBtns {
  display: flex;
  width: 180px !important;
  height: 60px !important;

  min-width: 180px !important;
  max-width: 180px !important;
  min-height: 60px !important;
  max-height: 60px !important;
}

.styleLoginFake {
  display: flex;
  width: 200px !important;
  height: 80px !important;
  margin: unset !important;
  min-height: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  min-width: unset !important;
}

.styleIphone {
  display: flex;
  width: 400px !important;
  min-width: 400px !important;
  max-width: 400px !important;

  height: 650px !important;
  min-height: 650px !important;
  max-height: 650px !important;

  margin-top: -10px !important;

  overflow: visible !important;
}

.instaFont {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  color: black;
}

.flex {
  display: flex;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.iphoneColumn {
  overflow: visible !important;
}

.columnIphone {
  float: left;
  width: 50%;
  height: 600px;
  padding: 10px;

}
/* 
.column {
  margin: 0 auto;
  float: left;
  width: 440px;
  margin: auto;
  justify-content: center;
  align-items: center;
} */

.smallColumn {
  margin: 0 auto;
  width: 400px;
  margin: auto;
}

.row {
  margin: auto;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.centered {
  margin: auto;
}
